/* css styling for the h1 element*/
body{
    width:99%;
}
h1{
    text-align:left;
}

h2{ 
    color: rgb(0, 0, 0);
    font: 1.2em 'Times New Roman';
    font-weight: bold;
    
}
h3{
    color: rgb(0, 0, 0);
    font: 1em 'Times New Roman';
    text-decoration: underline;
}

p{
    padding: 10px;
}

header{
    background-image: url("../Images/backgroundimage1.png");
    background-repeat: no-repeat;
    background-size:cover;
    height:120px;
    color: rgb(23, 20, 97);
    border: 1px solid rgb(9, 32, 13);
    border-radius: 2px;
    
}

main{
    text-align: left 80%;
}

.col_gaelic{
    column-count: 2;
    column-rule-color: black;
    column-rule-width: 2px;
    column-gap: 80px;
    
}


aside ul li a{
    text-align: right 18%;
    color: blue;
    text-decoration: none;
    
}
aside ul li{
    color: white;
    list-style-type:none ;
}
.required{
    font-weight:bold;
    color:red;
}

.textarea{
    height:5%;
    width:10%;
    font-family:'Times New Roman', Times, serif}

footer{
    border:1px solid rgb(183, 181, 181);
    border-radius: 2px;
    margin: 0;;
    clear: both;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color:rgb(104, 104, 104);
    padding:0px;
    font-family: 'Times New Roman';
    color:white;
    text-align: center;
    
}

nav{
    background-color:gray;
    padding:1px;
    font-family: 'Times New Roman';
    text-align: center;
    border-radius: 5px;
    
}

nav li{
    list-style-type: none;
    background-color: #bbbbbb;
    display: inline;
    padding: 10px;
    margin: 3px;
    text-align: center;
    color: #ffffff;
   
}

nav ul a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;

}
nav ul li:hover{
    background-color: rgba(156, 224, 156, 0.644) ;
}


